/* .heroBg {
  background-image: url("/images/homepage/Banner-1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.heroBg {
  position: relative;

  overflow: hidden;

  height: 40vh;

  display: flex;

  align-items: center;

  justify-content: center;
}
.heroBg img {
  width: 100%;
  /* max-width: 1164px; */
  height: 340px;
  /* object-fit: contain; */
}
/* ===================== Mobile ===================== */

@media (max-width: 699px) {
  .heroBg {
    height: 575px;
    background-size: cover;
    background-position: center;
  }

  .heroBg img {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    object-fit: cover;
  }


  .cardWrapper {
    width: calc(100% - 4px);

    max-width: 420px;

    margin: -95px auto 0;

    padding: 0 12px;

    position: relative;

    z-index: 10;
  }

  .custom-scroll {
    padding-bottom: 4px;

    overflow-x: auto;
  }
}

/* ===================== Tablet ===================== */

@media (min-width: 700px) and (max-width: 999px) {
  .heroBg {
    height: 350px;
  }

  .heroBg img {
    height: 280px;
  }

  .cardWrapper {
    margin-top: -280px;
  }
}

/* ===================== 1000px+ SAME DESIGN AS 1440 ===================== */

@media (min-width: 1000px) {
  .heroBg {
    height: 40vh;
  }

  .heroBg img {
    height: 340px;
  }

  .cardWrapper {
    margin-top: -520px;
  }
}

/* ===================== Overlay ===================== */

.heroBg::after {
  content: "";

  position: absolute;

  inset: 0;
}

/* ===================== Scroll ===================== */

.custom-scroll {
  width: 100%;

  max-width: 100%;

  overflow-x: auto;

  white-space: nowrap;

  cursor: text;

  scrollbar-width: none;

  -ms-overflow-style: none;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}
