.heroBg {
  background-image: url("/images/homepage/home.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 55vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBg img {
  width: 100%;
  max-width: 1164px;
  height: 340px;
  object-fit: contain;
}

/* Tablet */
@media (min-width: 700px) and (max-width: 1024px) {
  .heroBg {
    height: 350px !important;
  }

  .heroBg img {
    height: 280px;
  }

  .cardWrapper {
    margin-top: -280px;
  }
}

/* Small Laptop */
@media (min-width: 1025px) and (max-width: 1280px) {
  .heroBg {
    height: 650px !important;
  }

  .cardWrapper {
    margin-top: -350px;
  }
}

/* Overlay */
.heroBg::after {
  content: "";
  position: absolute;
  inset: 0;
}

/* Default Desktop */
.cardWrapper {
  margin-top: -520px;
}

.custom-scroll {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  cursor: text;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}